<div class="row">
  <div class="span2">
  	<p> </p>
  </div>
  <div class="span8">
    <h3>About Us</h3>
      <div id="bio">
        <p>Our company was founded in 2010 with one mission: to supply you with the warmest tights on the market. Who wants to be stuck wearing pants all winter? Not us! Now, you don't have to either... wear Warm and Toasty Tights!</p>

        <p>Our plush, fleece-lined tights have a seamless appearance: they look just like regular tights! They would fit in at the office! But, the cozy fleece-lined interior keeps you warm on the chilliest winter day.</p>

        <p>Available in Black, Charcoal, Wine, and Plum</p>
      </div>
  </div>
  <div class="span2">
  	<p> </p>
  </div>
</div>
