<div class="row">
  <div class="span2">
  	<p> </p>
  </div>
  <div class="span8">
    <h3>Frequently Asked Questions</h3></br>
      <strong>How are WARM AND TOASTY TIGHTS different than regular tights? Are they really that warm?</strong>
	  <p>Our tights are made to withstand winter.  They are woven like regular tights, but have a fully-lined fleece interior. Within two steps of your front door (when the wind whips around your legs, but doesn't chill you to the core), you'll feel the difference. Also, WARM AND TOASTY TIGHTS don't tear or run. It also takes a lot longer for them to pill (that is, gather little fuzzies on them) than it does for a pair of regular thick tights. So, our tights last longer!</p>

	  <strong>But, do they really look like tights? Aren't they thick? Bunchy? Or downright funny? Can I wear them to work?</strong>
	  <p>They really look like a regular pair of opaque tights!  You get the warmth of leggings with the more formal look of tights.  You can wear them with your favorite pencil skirt, that jazzy cocktail dress, or casual cotton to the office, a party, or on a winter walk through the park.   No one will notice a difference!  As for the fit, they are form-fitting and won't look bunchy.  The foot is no thicker than a pair of standard dress socks; so, you can wear them with boots, pumps, flats, or stilettos!</p>

	  <strong>What are WARM AND TOASTY TIGHTS made of?</strong>
	  <p>95% Bamboo Fiber; 5% Spandex</p>

	  <strong>What size should I order?</strong>
	  <p>Please see our size chart.</p>

	  <strong>What are the proper care instructions for WARM AND TOASTY TIGHTS?</strong>
	  <p>Handwash in cold water with like colors. Line dry to remove wrinkles. Color bleeding normal with first wash. 
	  Wash before wearing to prevent the transfer of color to other fabrics.</p>

	  <strong>Do you ship internationally?</strong>
	  <p>At the moment, no. We currently ship domestically within the United States.</p>

	  <strong>What is your return policy?</strong>
	  <p>We offer full refunds. Please email orders@warmandtoastytights.com for details.</p>
  </div>
  <div class="span2">
    <p> </p>
  </div>
</div>