<div class="row">
  <div class="span2">
  	<p> </p>
  </div>
  <div class="span8">
    <h3>Our Mission:</h3>
     <p>To supply you with the warmest tights on the market.</p>
  </div>
  <div class="span2">
  	<p> </p>
  </div>
</div>