// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

nav {
  li {
    list-style: none;
    font-family: Courier New;
    color: white;
    a:hover {
      font-weight: bolder;
    }
  }
}
